<div class="courses-page">
  <div class="courses-container">
    @for (l of (lessons$ | async); track l.id) {
    <mat-card class="course-card">
      @if(isTeacher()){
        <div class="actions">
          <button mat-icon-button color="primary" (click)="editLesson(l); $event.stopPropagation()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteLesson(l.id); $event.stopPropagation()">
            <mat-icon>delete</mat-icon>
          </button>   
        </div>
      }
      <div class="card-content" (click)="openLesson(l.id)">
        <mat-card-header>
          <div mat-card-avatar class="course-avatar"></div>
          <mat-card-title>{{ l.title }}</mat-card-title>
        </mat-card-header>
      </div>
    </mat-card>
    }
  </div>
</div>
