<div class="courses-page">
  @if(isTeacher()){
  <button mat-button (click)="addCourse()" class="custom-btn">
   Add Course {{'add'|icons}}
  </button>
  }
  <div class="courses-container">
    @for (course of (courses$ | async); track course.id) {
    <mat-card class="course-card" (click)="openCourseDetails(course.id)">
      <mat-card-header>
        <div mat-card-avatar class="course-avatar"></div>
        <mat-card-title>{{ course.title }}</mat-card-title>
        <mat-card-subtitle>{{ course.description }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    }
  </div>
</div>